button {
    width: 30px; height: 30px; text-align: center; margin: 0 10px;
}

.modalOuterBg {
    width: 650px;
    height: 800px;
    background-color: rgba(0, 10, 86, 0.524);
    border-radius: 10px;
    position: fixed;
    right: calc(50% - (650px/2));
    top: calc(50% - (800px/2));

}
.modalBtn {
    float: right;
    margin: 15px;
}

.modalInnerBg {
    width: 550px;
    height: 700px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 30px auto;
}

/* .startTran {
    opacity: 0;
    transition: all 1s;
}

.endTran {
    opacity: 1;
} */

.modalTran-enter-from {
    opacity: 0;
}

.modalTran-enter-active {
    transition: all 1s;
}

.modalTran-enter-to {
    opacity: 1;
}

.modalTran-leave-from {
    opacity: 1;
}

.modalTran-leave-active {
    transition: all 1s;
}

.modalTran-leave-to {
    opacity: 0;
}

.eventBox {
    padding: 50px;
    background-color: rgba(0, 10, 86);
    margin: 10px;
}

.discount {
    color: rgb(255, 93, 155);
    background-color: transparent;
}